body {
    width: 50%;
}

form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
}

label {
    margin: 5px ;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;    
}

input {
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    transform: skewX(-10deg);
}

img {
    max-width: 60%;
    height: auto;
}

#Nextbutton{
    transform: skewX(-10deg);
    position: absolute;
    transition: 0.09s;
    border-radius: 3px;
    font: bold 14pt "Times New Roman", Times, sans-serif, center;
    background-image: linear-gradient(rgb(177, 177, 42), rgb(246, 174, 6));
}
